# This is a basic workflow to help you get started with Actions

name: PR Validation

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Set up NPM and deps
      - name: Set up NPM
        run: npm ci

      # Do a build
      - name: Run Build
        run: npm run build
      
      # Check whether the compiled library changed
      - name: Check Build Updated
        uses: tj-actions/verify-changed-files@v18
        id: verify-built-lib
        with:
          files: lib/index.js
      
      # If it did change, the authro forgot to build. Fail the action
      - name: Verify Build Updated
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        run: exit 1

      - name: Run Tests
        run: npm test
