name: "Update v1 tag"

on:
  release:
    types: [released]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: rickstaa/action-create-tag@v1
      with:
        tag: v1
        force_push_tag: true
